#container {
	margin: auto;
	width: 600px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000033;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	background-color: #FFFFFF;
}
#container #header #header_left {
	float: left;
	background-image: url(http://localhost/business-registrations.co.za/regApp/service_engine/resources/images/header_left.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 45px;
}
#container #header #header_right {
	background-image: url(http://localhost/business-registrations.co.za/regApp/service_engine/resources/images/header_right.gif);
	background-repeat: no-repeat;
	height: 42px;
	width: 6px;
	float: right;
}
body {
	padding-top: 30px;
	background-color: #CCCCCC;
}
#container #content {
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}
#container #footer {
    clear:both;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-align: right;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-right-color: #000033;
	border-bottom-color: #000033;
	border-left-color: #000033;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
#container #footer a {
	color: #999999;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#container #header #header_main {
	float: left;
	padding: 5px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


 #header {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(http://localhost/business-registrations.co.za/regApp/service_engine/resources/images/header_bg.gif);
	background-repeat: repeat-x;
	height: 42px;
}

#container .month{
    width:180px;
    float:left;
    border:1px solid #ccc;
    margin:8px;
    border-collapse:collapse;
}

#container td {
    border:1px solid #ddd;
    color:#555;
    padding:3px;

    text-align:right;
}

#container th {
    padding:5px;
	background-image: url(http://localhost/business-registrations.co.za/regApp/service_engine/resources/images/hbg.gif);
	background-repeat: repeat-x;
    color:#fff;
}

.actday{
	background-image: url(http://localhost/business-registrations.co.za/regApp/service_engine/resources/images/hbg.gif);
	background-repeat: repeat-x;
    color:#fff;
    font-weight:bold;
}

.days{
    background-color:#f1f1f1;
}